<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wesejong.mapper.BoardReplyMapper">

<resultMap type="org.wesejong.domain.BoardReplyVO" id="boardreplyMap">
	<id property="brno" column="brno"/>
	<result property="brno" column="brno"/>
	<result property="bno" column="bno"/>
	<result property="reply" column="reply" jdbcType="VARCHAR" javaType="java.lang.String"/>
	<result property="replyer" column="replyer"/>
	<result property="anonymous" column="anonymous"/>
	<result property="deleteflag" column="deleteflag"/>
	<result property="regDate" column="regDate"/>
	<result property="updateDate" column="updateDate"/>
	<result property="deleteDate" column="deleteDate"/>
	<result property="parent" column="parent"/>	
	<result property="mem_seq" column="mem_seq"/>	
</resultMap>


<select id="getList" resultType="org.wesejong.domain.BoardReplyVO">
<![CDATA[
select * from boardreply where brno > 0 and bno = #{bno}
]]>
</select>

<insert id="insert">
    insert into boardreply (bno, reply, replyer, anonymous, parent, mem_seq)
    values (#{bno}, #{reply}, #{replyer}, #{anonymous}, #{parent}, #{mem_seq})
</insert>

<insert id="insertSelectKey">
	<selectKey keyProperty="brno" order="BEFORE" resultType="long">
		select max(brno) from boardreply
	</selectKey>
	insert into boardreply (brno, bno, reply, replyer, anonymous, parent, mem_seq)
	values (#{brno}+1, #{bno}, #{reply}, #{replyer}, #{anonymous}, #{parent}, #{mem_seq})
</insert>

<select id="read" resultType="org.wesejong.domain.BoardReplyVO">
	select * from boardreply where brno = #{brno}
</select>

<delete id="delete">
	delete from boardreply where brno = #{brno}
</delete>

<delete id="delete_by_bno_and_parent">
	delete from boardreply where bno = #{bno} and parent = #{brno}
</delete>

<update id="update">
	update boardreply
	set bno = #{bno},
	reply=#{reply},
	replyer=#{replyer},
	anonymous=#{anonymous},
	parent=#{parent}
	where brno=#{brno}
</update>

<update id="update_reply_deleteflag_by_brno">
	update boardreply
	set deleteflag = 1
	where brno=#{brno}
</update>


<select id="getTotalReplyCount_of_board_by_bno" resultType="long">
<![CDATA[
	select
		count(*)
	from 
		boardreply
	where bno = #{bno}
]]>
</select>

<select id="getExists_rereply_by_parent" resultType="int">
<![CDATA[
	select exists
		(select * from boardreply where parent = #{brno} and deleteflag = 0)
	as existence;
]]>
</select>

</mapper>